.button {
    width: 100%;
    max-width: 250px;
    padding: 0.8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--blue);    
}