:root {
  --darkBlue-intro: hsl(217, 28%, 15%);
  --darkBlue-background: hsl(216, 53%, 9%);
  --darkBlue-footer: hsl(216, 53%, 9%);
  --darkBue-testimonials: hsl(219, 30%, 18%);
  
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;


}
