.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.intro {
  width: 100%;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkBlue-intro);
  padding-top: 40%;

  
  .wrapperCurvy {
    position: relative;
    top: 5px;
    width: 100%;
  }

  .wrapperIllustration {
    position: absolute;
    top: 60px;
    width: 17rem;
  }
}

.main {
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .containerGetStarted {
    display: flex;
    position: relative;
    bottom: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 1rem;

    strong {
      font-size: 1.5rem;
      text-align: center;
      color: var(--white);
    }

    p {
      font-size: 1rem;
      text-align: center;
      color: var(--white)
    }

    .wrapperButton {
      display: flex;
      align-items: center;
      justify-content: center;      
      width: 90%;      
    }    
  }

  .containerFeatures {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
  }

  .containerProductive {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;    

    div {
      width: 70%;
      padding-bottom: 1.5rem;
    }

    strong {
      font-size: 1.2rem;
      color: var(--white);      
    }

    p {
      font-size: 0.8rem;
      color: var(--white)
    }    
  }

  .wrapperAnchor {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .containerQuotes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1.2rem;
  }
  
}

